body {
  background-color: rgba(223, 237, 248, 0.632);
}

h1 {
  color: black;
  padding-left: 10px;
}

h5 {
  padding-left: 10px;
}

h3 {
  margin-left: 335px;
  margin-top: 20px;
}

p {
  padding-left: 10px;
}

#current-display {
  margin-top: 10px;
  width: 75%;
  background-color: white;
}
#search-input {
  margin-left: 10px;
  height: 36px;
  margin-top: 8px;
  background-color: white;
}

.forecastDisplay {
  width: 75%;
  margin-top: 20px;
  margin-left: 320px;
}

.card {
  background-color: rgb(34, 105, 212);
  color: white;
  font-weight: bolder;
  width: auto;
}
