body {
  background-color: rgba(223, 237, 248, 0.632);
}

h1 {
  color: black;
  padding-left: 10px;
}

h4 {
  padding-left: 10px;
}

p {
  padding-left: 10px;
}

#current-display {
  margin-top: 10px;
  width: 75%;
  background-color: white;
}
#search-input {
  margin-left: 5px;
  height: 36px;
  margin-top: 8px;
  background-color: white;
}
