body {
  background-color: rgba(223, 237, 248, 0.632);
}

h1 {
  color: white;
  margin-left: 36%;
}

h2 {
  color: black;
  padding-left: 10px;
}

h3 {
  margin-left: 336px;
  margin-top: 20px;
}

h5 {
  padding-left: 10px;
  color: rgb(34, 105, 212);
  margin-bottom: 10px;
}

p {
  padding-left: 10px;
}

.list-group-item {
  margin-bottom: 5px;
}
#current-display {
  margin-top: 10px;
  width: 75%;
  background-color: white;
}

#search-input {
  margin-left: 25px;
  height: 36px;
  margin-top: 10px;
  background-color: white;
  color: black;
  border-color: white;
}

#search-history {
  margin-left: 25px;
  margin-top: 10px;
  width: 73%;
  color: black;
}

.forecastDisplay {
  width: 75%;
  margin-top: 20px;
  margin-left: 320px;
}

.card {
  background-color: rgb(52, 157, 52);
  color: white;
  font-weight: bolder;
  width: auto;
}
